body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px; /* Add border-radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align the content */
    margin-bottom: 10px;
  }
  
  
  #resultContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    overflow-wrap: break-word;
    display: none; /* Hide by default */
    max-width: 1000px; /* Limit the width */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center align the content */
  
  }
  
  #resultContainer h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  #resultContainer:not(:empty) {
    display: block; /* Show if not empty */
  }
  h1 {
    font-size: 24px;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="file"],
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weekDisplay {
    margin-bottom: 20px;
    text-align: center; /* Center align the week display */
  }
  
  #weekDisplay p {
    margin: 0;
    font-size: 18px;
  }
  
  #weekDisplay .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  #weekDisplay button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #weekDisplay #prevWeek {
    margin-right: 10px; /* Add space between buttons */
  }
  
  #weekDisplay button:hover {
    background-color: #0056b3;
  }

  .feedback-container {
    padding-top: 10px;
  }

  .message-container {
    background-color: #f44336; /* Default color for error messages */
    color: white;
    padding: 10px;
    text-align: center;
    display: none;
    position: fixed;
    top: 20px; /* Change to top */
    right: 20px; /* Change to right */
    z-index: 9999;
    border-radius: 5px;
  }
  
  .message-container.success {
    background-color: #4CAF50; /* Color for success messages */
  }
  

  /* Reset default table styles */
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

/* Table header */
th {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Table rows */
tr {
  border: 1px solid #ddd;
}

/* Alternate row colors for better readability */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Table cells */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Hover effect for rows */
tr:hover {
  background-color: #f2f2f2;
}

#colorSelection {
  margin-top: 10px;
}

input[type="color"] {
  background-color: #fff;
  padding: 10px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  margin: 20px;
}

b {
	background-color: #fff;
	padding: 16px;
	font-family: sans-serif;
}
#colorSelection {
  display: flex;
  justify-content: space-around;
}